.divTitle {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10px;
}

html {
  background-image: url("./imgs//Icons/fut23-store-sectio.jpg");
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 800;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 800;
}

.button-style {
  padding: 10px;
  background-color: #4c7faf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 10px;
  width: 200px;
  height: 100px;
  font-size: 25px;
  border-radius: 50px;
  font-weight: 800;
}

.principal {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}


.button-style-national {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-style-national-no {
  background-color: #FF5733;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
